include MANIFEST.in

include .coveragerc
include COPYING
include doc/*.1
include doc/*.txt
include doc/*.xml
include doc/COPYING
include doc/changelog
include examples/*
include ocrodjvu.py
include private/*
include tests/coverage
recursive-include tests *.bmp *.png *.pbm *.ppm *.tif
recursive-include tests *.py
recursive-include tests *.html
recursive-include tests *.djvused
recursive-include tests *.test[0-9]
recursive-include tests *.djvu
recursive-include tests fake-*
