include COPYING
include doc/Makefile
include doc/*.1
include doc/*.txt
include doc/*.xml
include doc/changelog
include ocrodjvu.py
include tests/Makefile
include tests/run-test
include tests/*.html
include tests/*.test[0-9]
