Source: ocrodjvu
Section: text
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), python-support
Standards-Version: 3.8.0
XS-Python-Version: >= 2.4

Package: ocrodjvu
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, ocropus (>= 0.2), python-djvulibre (>= 0.1.6), python-lxml, djvulibre-bin
Conflicts: djvulibre-bin (= 3.5.20-4)
Description: OCRopus for DjVu files
 ocrodjvu is a wrapper for OCRopus, an OCR system, that allows you to
 perform OCR on DjVu files.
