Source: ocrodjvu
Section: text
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), python-support
Standards-Version: 3.7.2
XS-Python-Version: >= 2.4

Package: ocrodjvu
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, ocropus, python-djvulibre (>= 0.1.5), python-lxml, djvulibre-bin
Conflicts: djvulibre-bin (= 3.5.20-4)
Description: OCRopus for DjVu files
