#!/usr/bin/make -f

%:
	dh $(@)

override_dh_install:
	dh_install
	sed -i -e '1,/^$$/ {s|^$$|\nimport sys; sys.path.insert(0, "/usr/share/ocrodjvu/")|;}' $(CURDIR)/debian/ocrodjvu/usr/bin/*

# vim:ts=4 sw=4 noet
